<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <style>
        .container {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
</head>
<body>

<div style="text-align: center">
    <form th:action="@{/patients/search}" method="get"
          style="display: flex; gap: 10px; justify-content: space-around; width: 800px; margin: 40px 0 40px 250px; align-items: center">
        <input style="width: 250px" type="text" name="firstName" placeholder="Search ..." th:value="${firstName}" />
        <button type="submit">Search</button>
        <button type="button" onclick="window.location.href='/patients'">Clear</button>
    </form>
</div>


<div class="container" style="width: 90%; margin: 0 auto; display: flex; gap: 15px">
    <div class="card" style="width: 18rem;" th:each="patient:${patients}">
        <a th:href="@{/patients/{patiendId}/PatientById(PatientId=${patient.getId()})}">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center" th:text="${patient.firstName + ' ' + patient.lastName}">Patient</h5>
                <p class="card-text" style="text-align: center" th:text="|Phone: ${patient.phoneNumber}|">Phone: </p>
                <p class="card-text" style="text-align: center" th:text="|Gender: ${patient.gender}|">Gender: </p>
                <p class="card-text" style="text-align: center" th:text="|Email: ${patient.email}|">Email: </p>
                <!-- Добавьте здесь дополнительные поля пациента, если они доступны -->
            </div>
        </a>
    </div>
</div>
<br>
<br>
<p style="text-align:center;">
    <a class="btn btn-outline-primary" role="button" th:href="@{/patients/create}">Add new Patient</a>
</p>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</html>
